:root {
    --box-color: #DEE2FF;
    --text-color: #2c1c6d;
    --ticket-box-color: #f2e4fd;
    --text-color-2: #2E1760;
}

#ticket {
    grid-area: 2/1/span 1/span 2;
    background-color: var(--ticket-box-color);
    padding: 1.2em;
    margin: 1.2em;
    border-radius: 6px;
    width: 90%;
    justify-self: center;

    display: grid;
    grid-template-columns: [start] 80% [aside] 20% [end];
    grid-template-rows: [start] min-content [title] min-content [desc] min-content [changes] min-content [end];
}

#ticket h2 {
    font-size: 2.5rem;
    margin: 0;

    grid-row: start / title;
    grid-column: start / end;
}

#ticket aside {
    grid-row: title / end;
    grid-column: aside;
}

#ticket article#ticket_description {
    margin: 0;
    font-size: 1.1rem;
    padding: 0 1em;
    text-align: justify;
    
    grid-row: title / desc;
    grid-column: start / aside;
}

#ticket #changes_menu {
    grid-row: desc / changes;
    grid-column: start / aside;
}

#ticket #comments {
    grid-row: changes / end;
    grid-column: start / aside;
}

#ticket aside {
    padding: 1em;
    line-height: 200%;
}

#ticket aside div#close_ticket {
    background-color: #b62525;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 6px;
    width: fit-content;
    padding: 0 .5em;
    margin: 0 auto 1em;
    cursor: pointer;
}

#ticket aside div::before {
    color: var(--text-color-2);
    font-weight: bold;
}

#ticket aside div#author {
    line-height: 1.5em;
}

#ticket aside div#author::before {
    content: 'Author: ';
}

#ticket aside time::before {
    content: 'Date: ';
    color: var(--text-color-2);
    font-weight: bold;
}

#ticket aside div#department {
    line-height: 1.5em;
}

#ticket aside div#department::before {
    content: 'Department: ';
    display: block;
}

#ticket aside div#agent::before {
    content: 'Agent: ';
    display: block;
}

#ticket aside div#agent option[disabled] {
    display: none;
}

#ticket aside div#status::before {
    content: 'Status: ';
}

#ticket select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--box-color);
    cursor: pointer;
    color: var(--text-color-2);
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: .7em;
    width: 100%;
}

#ticket div#tags {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content;
    margin-top: 1em;
}

#ticket div#tags input {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#ticket div#tags img {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

#ticket div#tags ul {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#toggle_show_changes {
    background: var(--box-color);
    padding: 0.6em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 6px;
    width: fit-content;
}

#toggle_show_changes > img {
    height: 1em;
    vertical-align: middle;
}
  
#toggle_show_changes:hover {
    text-decoration: underline;
    cursor: pointer;
}

#ticket_changes {
    overflow: hidden;
    max-height: 0; 
}

#ticket_changes.show {
    max-height: 300px;
    transition: max-height 0.3s ease-in;
    overflow: scroll;
}

#ticket_changes.hide {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

#ticket_changes ol {
    list-style: none;
}

#ticket .comment img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 0.5em;
}

#ticket .comment .comment_username {
    vertical-align: 50%;
    color: var(--text-color-2);
    font-weight: bold;
}

#ticket .comment time {
    vertical-align: 50%;
    color: var(--text-color-2);
    font-weight: bold;
    float: right;
}

#ticket .comment {
    background-color: white;
    border: 1em solid #d2c6db;
    box-shadow: 10px 10px #aba1b346;
    padding: 1em;
    margin: 1em 1em 2em;
    overflow: scroll;
}

#ticket .comment a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-2);
    background-color: var(--box-color);
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 6px;
}

#ticket #comments div {
    border-top: 2px dashed #d2c6db;
    margin: 1.5em;
}

#ticket #comments form {
    display: flex;
    flex-direction: column;

    border: 1em solid #d2c6db;
    box-shadow: 10px 10px #aba1b346;
    padding: 1em;
    margin: 1em;
    outline: none;
    resize: vertical;
    font-family: Roboto, sans-serif;
}

#ticket #comments form h3 {
    font-size: 1.5rem;
    margin: 0;
    font-family: Roboto, sans-serif;
}

#ticket #comments form textarea {
    padding: 1em;
    margin: 1em 0;
    outline: none;
    resize: vertical;
    font-family: Roboto, sans-serif;
}

#ticket #comments form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-weight: normal;
    border-radius: 6px;
    text-align: left;
    border: none;
    padding: 1em;
    width: 100%;
}

#ticket #comments form button {
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--text-color);
    color: white;
    font-size: 1rem;
    align-self: flex-end;
    margin: 1em;
    cursor: pointer;
}

@media (min-width: 80em){
    #ticket {
        max-width: 80em;
    }
}

@media (max-width: 56em){
    #ticket {
        grid-template-rows: [start] min-content [title] auto [aside] min-content [desc] min-content [changes] min-content [end];
    }

    #ticket aside {
        grid-column: start / end;
        grid-row: title / aside;
    }

    #ticket select {
        width: auto;
        margin-bottom: 1em;
    }

    #ticket aside div#department::before, #ticket aside div#agent::before {
        display: inline;
    }

    #ticket article#ticket_description {
        grid-column: start / end;
        grid-row: aside / desc;
    }

    #ticket #comments {
        grid-column: start / end;
    }

    #ticket aside div#close_ticket {
        margin: 0 0 1em;
    }
}